:root {
    --white: #ffffff;
    --blue-cardinal-flower: #2830c3;
    --st-patrick-s-blue: #242582;
    --cobalite: #9c9cff;
    --jade-glass: #00ced1;
    --when-blue-met-red: #563d67;
    --fuchsia-felicity: #f64c71;
    --parakeet-green: #14a76c;
    --hidden-mask: #99728d;
    --silver: #c0c0c0;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: var(--blue-cardinal-flower);
}

*,
::after,
::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
h1,
h4 {
    margin: 0;
}

.flex {
    display: flex;
}

.main {
    width: 100%;
    height: 100%;
}

.game {
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    height: 100%;
}

.game__container {
    justify-content: space-between;
    gap: 10px;
    padding: 5px 40px;
    border: 3px solid var(--cobalite);
    border-radius: 24px;
    width: 100%;
    max-width: 980px;
    color: var(--white);
    box-shadow: 0px 0px 47px 13px rgba(236, 244, 250, 0.2);
}

.game__heading {
    align-self: center;
    font-size: 3rem;
}

.game__settings {
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    width: 70%;
}

.game__levels-choice {
    justify-content: space-around;
    gap: 5px;
}

.game__level-btn {
    height: 0.01px;
    width: 0.01px;
}

.game__level-label {
    display: inline-block;
    padding: 10px 40px;
    border: 3px solid var(--cobalite);
    border-radius: 12px;
    font-size: 1.5rem;
    background-color: var(--st-patrick-s-blue);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.game__level-btn:checked + .game__level-label {
    background-color: var(--cobalite);
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.game__level-label:hover {
    transform: scale(1.1);
}

.game__images-list {
    flex-direction: column;
    gap: 5px;
    width: 100%;
    text-align: center;
}

.game__image-item {
   padding: 10px;
   border: 3px solid var(--fuchsia-felicity);
   border-radius: 12px;
   font-size: 1.2rem;
   font-weight: 500;
   background-color: var(--fuchsia-felicity);
   cursor: pointer;
}

.game__manage-btns-wrapper {
    flex-direction: column;
    align-self: flex-start;
    gap: 5px;
    width: 100%;
}

.game__btn-manage {
    padding: 15px 40px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--white);
    border: 3px solid var(--fuchsia-felicity);
    border-radius: 12px;
    width: 60%;
    background-color: var(--jade-glass);
    cursor: pointer;
}

.game__btn-manage:disabled {
    border-color: var(--silver);
    background-color: var(--silver);
    opacity: 0.8;
    cursor: auto;
    transform: scale(0.98);
}

.game__aside {
    flex-direction: column;
    align-self: flex-end;
    flex-grow: 1;
    gap: 10px;
    padding-top: 1rem;
    width: calc(30% - 20px);
}

.game__records-header {
    font-size: 1.4rem;
    text-align: center;
}

.game__records-list {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

.game__record-item {
    gap: 5px;
    padding: 10px 10px 10px 20px; 
    border: 2px solid var(--cobalite); 
    border-radius: 12px;
    font-size: 1rem;
}

.game__mode-btns-wrapper {
    align-self: flex-end;
}

.game__mode-wrapper_dark {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--white);
    background-color: var(--when-blue-met-red);
}

.game__mode-wrapper_light {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: var(--white);
    color: var(--when-blue-met-red);
}

.game__mode-label {
    padding: 0;
    padding-top: 6px;
    border: none;
    width: 60px;
    height: 40px;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.game__mode-btn {
    height: 0.1px;
    width: 0.1px;
}

.game__mode-btn:checked + .game__mode-label {
    transform: scale(0.8);
    opacity: 0.9;
}

.game__mode-label:hover {
    transform: scale(1.05);
}