:root {
    --white: #ffffff;
    --black: #000000;
    --background: #fdfbda;
    --main-color: #006400;

    --lvl-btn: #fec480;
    --lvl-btn-checked: #ff9523;

    --images-names: #ffef78;
    --image-name-checked: #fefbda;

    --manage-btns: #ff9268;

    --mode-btn: #af016a;
    --disabled: #c0c0c0;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: var(--background);
}

*,
::after,
::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
h1,
h4 {
    margin: 0;
}

.flex {
    display: flex;
}

.main,
.game {
    width: 100%;
    height: 100%;
}

.game {
    justify-content: center;
    padding: 20px 0;
}

.game__container {
    position: relative;
    flex-direction: column;
    gap: 20px;
    padding: 5px 20px;
    border-radius: 24px;
    width: 100%;
    max-width: 1140px;
    color: var(--main-color);
}

.game__heading {
    align-self: center;
    font-size: 3rem;
}

.game__wrapper {
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.game__aside {
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    width: calc(30% - 20px);
    height: 100%;
}

.game__level-section,
.game__picture-section {
    flex-direction: column;
    gap: 5px;
}

.game__levels-select,
.game__level-option,
.game__picture-select,
.game__picture-option {
    padding: 5px;
    border: 2px solid var(--manage-btns);
    border-radius: 8px;
    outline: none;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--main-color);
    background-color: var(--image-name-checked);
    cursor: pointer;
    z-index: 100;
}

.game__btn-manage {
    padding: 5px 10px;
    border: 3px solid var(--manage-btns);
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--main-color);
    background-color: var(--manage-btns);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.game__btn-manage:hover {
    background-color: var(--lvl-btn);
    border-color: var(--lvl-btn);
}

.game__btn-manage:disabled {
    border-color: var(--disabled);
    background-color: var(--disabled);
    opacity: 0.8;
    cursor: auto;
    transform: scale(0.98);
}

.game__records-header {
    font-size: 1.4rem;
    text-align: center;
}

.game__records-list {
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.game__record-item {
    gap: 5px;
    padding: 10px 10px 10px 20px;
    border: 2px solid var(--lvl-btn-checked);
    border-radius: 12px;
    font-size: 0.8-rem;
}

.game__mode-btn {
    height: 0.01px;
    width: 0.01px;
}

.game__mode-btns-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
}

.game__mode-wrapper_dark {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--white);
    background-color: var(--mode-btn);
}

.game__mode-wrapper_light {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: var(--mode-btn);
    background-color: var(--white);
}

.game__mode-label {
    padding: 0;
    padding-top: 4px;
    border: none;
    width: 50px;
    height: 35px;
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.game__mode-btn:checked + .game__mode-label {
    transform: scale(0.8);
    opacity: 0.9;
}

.game__mode-label:hover {
    transform: scale(1);
}

/* matrix */

.game__matrix-top-hint-section  {
    flex-direction: column;
}

.game__matrix-section {
    justify-content: center;
    align-items: flex-end;
    width: 60%;
    font-size: 0.8rem;
}

.game__matrix-hints_left {
    flex-direction: column;
}

.game__hints-row-left {
    justify-content: flex-end;
    flex-grow: 1;
}

.game__hints-row-top {
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

.game__matrix {
    flex-direction: column;
}

.game__matrix-element,
.game__hint-top,
.game__hint-left {
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
}

.game__matrix-element {
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.game__hint-top {
    flex-grow: 1;
    align-items: flex-end;
    padding-bottom: 2px;
}

.game__matrix-element-cross {
    display: none;
    position: absolute;
    flex-shrink: 0;
    border-radius: 1px;
    height: 1px;
    width: 15px;
    background-color: var(--black);
    transition: transform 1s ease-in-out, display 30s ease-in-out;
}

.cross .game__matrix-element-cross:first-child {
    display: block;
    transform: rotate(-45deg);
}

.cross .game__matrix-element-cross:nth-child(2) {
    display: block;
    transform: rotate(45deg);
}

.game__hints-row-left:not(:nth-child(5n + 5)),
.game__matrix-row:not(:nth-child(5n + 5)) {
    border-bottom: 1px solid var(--main-color);
}

.game__hints-row-left:nth-child(5n + 5),
.game__matrix-row:nth-child(5n + 5) {
    border-bottom: 3px solid var(--main-color);
}

.game__hints-row-left:first-child,
.game__matrix-row:first-child {
    border-top: 3px solid var(--main-color);
}

.game__matrix-hints_left {
    border-left: 3px solid var(--main-color);
}

.game__matrix-top-hint-section  {
    border: 3px solid var(--main-color);
    border-bottom: none;
}

.game__matrix-element:not(:nth-child(5n + 5)) {
    border-right: 1px solid var(--main-color);
}

.game__matrix-element:nth-child(5n + 5) {
    border-right: 3px solid var(--main-color);
    width: 22px;
}

.game__hints-row-top:not(:nth-child(5n + 5)) > .game__hint-top {
    border-right: 1px solid var(--main-color);
}

.game__hints-row-top:nth-child(5n + 5) > .game__hint-top {
    border-right: 3px solid var(--main-color);
    width: 22px;
}

.game__hints-row-top:last-child > .game__hint-top,
.game__matrix-element:last-child {
    border-right: none;
}

.black-cell {
    background-color: var(--black);
}

/* timer */

.game__timer {
    position: absolute;
    top: 20px;
    right: 25px;
    align-items: center;
    justify-content: center;
    padding: 5px 7px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: var(--lvl-btn);
}


.hidden {
    display: none;
}